body {
    background-color: white;
    font-family: "Nunito", sans-serif;
  

}



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #f6f6f6;
    color: #8e8b8b;
    border-bottom: 1px solid #f1f1f1;
    z-index: 10000;
    height: 100px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;

}

.logo {
    font-size: 50px;
    float: left; 
    padding: 18px; 
}

.header nav {
    float: right;
    word-spacing: 30px;
    padding: 40px;

  
}
 
 .header nav a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.header nav a:hover {
    color: #555;
}

a.current {
    color: #555 !important;
}

a:link {
    color: #8e8b8b;
    text-decoration: none;
}


/* visited link */
a:visited {
    color: #8e8b8b;
}

img {

    width:auto;
    max-width:100%;
    height:auto;
    
}

#background {
    
width: 100%;
  position: absolute;
  top: 0;
  left: 0;
   
}

.content {
   position: relative;
    color: #8e8b8b;
    padding: 50px;
     text-align: left;
    
 }



/* This section is for the contact page*/







.link {
    position: absolute;
    top: 50%;
    margin-left: -106.5px;
    background: white;
    opacity: 0.4;
    padding: 20px 30px;
    cursor: pointer;
    border:none;
    border-radius:2px; 
    }



#modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100; 
    display: none;


}

#modal-overlay {
    background:rgba(0,0,0,0.5);
    opacity: 0.5; 
    width: 100%;
    height: 100%;
    position: fixed; 
    top: 0;
    right: 0;
}

#modal-box {

    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 500px; 
    height: 350px;
    background-color: #f6f6f6; 
    padding: 20px;
    border-radius: 2px;
    z-index: 1000;
   
}

.wrapper {
    text-align: center;
    
}



.link {
    color: black;
    font-size: 20px;
    padding: 0 0 20 0;
    margin-top: -20;
}

#submit-btn{
    float: right; 
    position: relative: 
    display: inline-block;
    background-color:#a9a9a9;
    padding: 5px; 
    margin: 5px;
    margin-top: -3px;
    color:white ;
    font-weight: 500;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 14px; 
 
}

#cancel-btn{
    float: right; 
    position: relative: 
    display: inline-block;
    background-color:#a9a9a9;
    padding: 5px; 
    margin: 5px;
    color:white ;
    margin-top: -3px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 2px;
  
}



#input-box{
border: 3px solid;
padding: 10px; 
background: transparent; 
margin: 0px; 
margin-bottom: 20px; 
width: 474px; 
font-size: 12px;
font-weight: 700; 
color: #a9a9a9;
}

#input-box2{
border: 3px solid; 
padding: 10px; 
background: transparent; 
margin: 0px; 
margin-bottom: 20px; 
height:200px;
width: 474px;  

font-size: 12px;
font-weight: 700; 
color: #a9a9a9;
}



input::-webkit-input-placeholder   {
font-size: 12px;
font-weight: 700;
}





/* This section is for the tricks page*/



body {
    background-color: white;
    font-family: "Nunito", sans-serif;
}



.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #f6f6f6;
    color: #8e8b8b;
    border-bottom: 1px solid #f1f1f1;
    z-index: 10000;
    height: 100px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;

}

.logo {
    font-size: 50px;
    float: left; 
    padding: 18px; 
}

.header nav {
    float: right;
    word-spacing: 30px;
    padding: 40px;

  
}
 
 .header nav a {
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.header nav a:hover {
    color: #555;
}

a.current {
    color: #555 !important;
}

a:link {
    color: #8e8b8b;
    text-decoration: none;
}


/* visited link */
a:visited {
    color: #8e8b8b;
}

img {

    width:auto;
    max-width:100%;
    height:auto;
    
}

#background {
    
width: 100%;
  position: absolute;
  top: 0;
  left: 0;
   
}

.content {
    color: #8e8b8b;
    padding: 50px;
    line-height: 150%;
}



/* This section is for the contact page*/







.link {
    position: absolute;
    top: 50%;
    margin-left: -106.5px;
    background: white;
    opacity: 0.4;
    padding: 20px 30px;
    cursor: pointer;
    border:none;
    border-radius:2px; 
    }



#modal-container {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 100; 
    display: none;


}

#modal-overlay {
    background:rgba(0,0,0,0.5);
    opacity: 0.5; 
    width: 100%;
    height: 100%;
    position: fixed; 
    top: 0;
    right: 0;
}

#modal-box {

    position: relative;
    top: 100px;
    margin-left: auto;
    margin-right: auto;
    width: 500px; 
    height: 350px;
    background-color: #f6f6f6; 
    padding: 20px;
    border-radius: 2px;
    z-index: 1000;
   
}

.wrapper {
    text-align: center;
    
}



.link {
    color: black;
    font-size: 20px;
    padding: 0 0 20 0;
    margin-top: -20;
}

#submit-btn{
    float: right; 
    position: relative: 
    display: inline-block;
    background-color:#a9a9a9;
    padding: 5px; 
    margin: 5px;
    margin-top: -3px;
    color:white ;
    font-weight: 500;
    cursor: pointer;
    border-radius: 2px;
    margin-right: 14px; 
 
}

#cancel-btn{
    float: right; 
    position: relative: 
    display: inline-block;
    background-color:#a9a9a9;
    padding: 5px; 
    margin: 5px;
    color:white ;
    margin-top: -3px;
    font-weight: 500;
    cursor: pointer;
    border-radius: 2px;
  
}



#input-box{
border: 3px solid;
padding: 10px; 
background: transparent; 
margin: 0px; 
margin-bottom: 20px; 
width: 474px; 
font-size: 12px;
font-weight: 700; 
color: #a9a9a9;
}

#input-box2{
border: 3px solid; 
padding: 10px; 
background: transparent; 
margin: 0px; 
margin-bottom: 20px; 
height:200px;
width: 474px;  

font-size: 12px;
font-weight: 700; 
color: #a9a9a9;
}



input::-webkit-input-placeholder   {
font-size: 12px;
font-weight: 700;
}





/* This section is for the tricks page*/



.g {
        padding: 0.25em;
          margin-top:100px;
            overflow: hidden;
            margin-left: 160px;

        }
        .g li {
            
          
 
            padding: 0.25em;
            display: inline-block;
        }
      
        .g li:nth-child(odd) {
            clear: left;
        }
    
        @media screen and (min-width: 40em) {
            .g li {
                width: 33.3333333333333333%; 
            }
            .g li:nth-child(3n+1) {
                clear: left;
            }
            .g li:nth-child(odd) {
                clear: none;
            }
        }
        @media screen and (min-width: 55em) {
            .g li {
                width: 25%; 
            }
            .g li:nth-child(4n+1) {
                clear: left;
            }
            .g li:nth-child(3n+1) {
                clear: none;
            }
        }
        @media screen and (min-width: 72em) {
            .g li {
                width: 20%; 
            }
            .g li:nth-child(5n+1) {
                clear: left;
            }
            .g li:nth-child(4n+1) {
                clear: none;
            }
        }
        @media screen and (min-width: 90em) {
            .g li {
                width: 16.666666666%; 
            }
            .g li:nth-child(6n+1) {
                clear: left;
            }
            .g li:nth-child(5n+1) {
                clear: none;
            }
        }