a {
    text-decoration: none;
    color: #000;
}
.active-link {
    color: #65c5d8;
}

.name-container {
    margin-top: 30px;
}
.navbar-container {
    margin-top: 30px;
}
.bio-container, .portfolio-container {
    margin-top: 30px;
    margin-bottom: 30px;
}
.bio-container p {
    font-size: 1.3em;
    font-weight: 300;
}
